.search-input{
  width:400px;
  padding:5px;
}

.results-container{
  width: 400px;
  border: 1px solid black;
  padding: 5px;
  max-height: 500px;
  overflow-y: scroll;
}

.results {
  display: block;
  padding: 5px;
}

.results:hover {
  background-color: lightgray;
  cursor: pointer;
}